<div class="treasure-chests-show d-flex flex-column justify-content-center align-items-center">
  <div class="transparent-bg border d-flex flex-column mb-5 p-2 overflow-auto text-break text-center" style="border-radius: 15px; width: 300px;">
    <div class="p-2">
      <%= image_tag asset_path("Icons/treasure.png"), alt: "Treasure Icon", class: "treasure-image" %>
      <span style="font-weight: bold; font-size: 18px; color: #F29C1F; margin-left: 5px;"><%= @treasure_chest.name %></span>
    </div>
    <p>Description:</p>
    <span style="font-weight: bold; font-size: 18px; color: #F29C1F; margin-top: -10px;"><%= @treasure_chest.description %></span>
    <% if @treasure_chest.current_value != nil %>
      <% @treasure_chest.current_value %>
    <% else %>
      <% @treasure_chest.current_value = 0 %>
    <% end %>
    <p class="mt-2">Progress:</p>
    <span style="margin-top: -15px; margin-bottom: 10px; color: #F29C1F">$<%= [@treasure_chest.current_value, 0].max %> / $<%= [@treasure_chest.value, 0].max %></span>
          <div class="d-flex flex-column justify-content-center align-items-center">
          <h5>Your quests</h5>
          <% if @challenges.empty? %>
            <div class="overflow-auto p-3" style="width: 300px; max-height: 500px; border-radius: 15px;">
              <p class="text-center">You Have No Challenges</p>
            <% else %>
              <div class="transparent-bg overflow-auto border p-3 mt-3" style="width: 350px; max-height: 550px; border-radius: 15px;">
                <% end %>
                <% @challenges.each do |challenge| %>
                <div class="mb-3 text-break border p-3" style="border-radius: 15px;">
                  <%= link_to treasure_chest_challenge_path(challenge.treasure_chest, challenge), class: "d-flex text-decoration-none" do %>
                    <div class="col-3 d-flex align-items-center">
                      <%= image_tag asset_path("Icons/ruby_milestone.png"), alt: "Treasure Icon", class: "challenge-image" %>
                    </div>
                    <div class="col-9 text-center">
                      <h6><span style="color: #F29C1F;"><%= challenge.name %></span></h6>
                      <h6>Status: <span style="color: #F29C1F;"><%= challenge.status %></span></h6>
                    </div>
                  <% end %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
          <div class="text-center mt-5" data-controller="challenges" data-challenges-url-value="<%= asset_path("coin-spill.mp3") %>">
            <%= link_to "Embark on a new quest!", new_treasure_chest_challenge_path(@treasure_chest), class: "btn", data: { target: "challenges.newchest", action: "click->challenges#newchest" } %>
        </div>
        </div>
  </div>
</div>
