<div class="navbar navbar-expand-sm navbar-light navbar-treasure-keeper">
  <div class="container-fluid d-flex justify-content-around">
    <%= link_to treasure_chests_path, class: "navbar-brand" do %>
      <%= cl_image_tag("Treasure Keeper/treasure.png", title: "Treasure Keeper/treasure.png",
      width: 50, crop: :fill) %>
    <% end %>

    <%= link_to root_path, class: "navbar-brand" do %>
      <%= cl_image_tag("Treasure Keeper/map.png", title: "Treasure Keeper/map.png",
      width: 50, crop: :fill) %>
    <% end %>

    <%= link_to challenge_path(@challenge), class: "navbar-brand" do %>
      <%= cl_image_tag("Treasure Keeper/swords.png", title: "Treasure Keeper/swords.png",
      width: 50, crop: :fill) %>
    <% end %>

    <%= link_to player_path, class: "navbar-brand" do %>
      <%= cl_image_tag("Treasure Keeper/knight.png", title: "Treasure Keeper/knight.png",
      width: 50, crop: :fill) %>
    <% end %>
  </div>
</div>
