<% @player = Player.find_by(user_id: current_user) %>
<% @challenge = Challenge.where(player_id: @player).last %>

<% if @challenge %>
  <% @treasure_chest = @challenge.treasure_chest %>
<% end %>

<div class="navbar navbar-expand-sm navbar-light navbar-treasure-keeper">
  <div class="container-fluid d-flex justify-content-around">

    <%= link_to treasure_chests_path, class: "navbar-brand" do %>
      <%= image_tag asset_path("Icons/castle1.png") %>
    <% end %>

  <% if @treasure_chest %>
    <%= link_to treasure_chest_path(@treasure_chest), class: "navbar-brand" do %>
      <%= image_tag asset_path("Icons/treasure.png") %>
    <% end %>

    <%= link_to treasure_chest_challenge_path(@challenge.treasure_chest, @challenge), class: "navbar-brand" do %>
      <%= image_tag asset_path("Icons/swords.png") %>
      <% end %>
    <% end  %>

  <% if @player %>
    <%= link_to player_path(@player), class: "navbar-brand" do %>
      <%= image_tag asset_path "Icons/#{@player.icon_creator}" %>
    <% end %>
  <% end%>
  </div>
</div>
