<% @challenge = Challenge.find_by(player_id: current_user, status: "running", status: "won", status: "lost") %>
<% @player = Player.find_by(user_id: current_user) %>

<div class="navbar navbar-expand-sm navbar-light navbar-treasure-keeper">
  <div class="container-fluid d-flex justify-content-around">
    <%= link_to treasure_chests_path, class: "navbar-brand" do %>
      <%= image_tag asset_path("Icons/treasure.png") %>
    <% end %>

    <%= link_to home_path, class: "navbar-brand" do %>
      <%= image_tag asset_path("Icons/map.png") %>
    <% end %>

    <% if @challenge %>
    <%= link_to treasure_chest_challenge_path(@challenge.treasure_chest, @challenge), class: "navbar-brand" do %>
      <%= image_tag asset_path("Icons/swords.png") %>
      <% end %>
    <% end  %>

  <% if @player %>
    <%= link_to player_path(@player), class: "navbar-brand" do %>
      <%= image_tag @player.avatar_url %>
    <% end %>
  <% end%>
  </div>
</div>
