<% current_player = Player.find_by(user_id: current_user)  %>

<div class="navbar navbar-expand-sm navbar-light navbar-treasure-keeper", data-controller="health">

<% if current_player.healthpoints >= 0 %>
  <% nil  %>
<% else%>
  <div class="d-none" data-health-target="popUp">
    <span style="margin-bottom: 20px;"><%= image_tag "Icons/#{current_player.icon_creator}" , width: 50, crop: :fill, class: "mr-3 rounded-circle" %></span>
    <h2 data-health-target="h2">YOU ARE DEAD</h2>
    <p style="margin-bottom: 10px;" data-health-target="p">You should rest for a while</p>
    <div>
      <% if current_player.rubies >= 10 %>
         <%= link_to "Buy HP", player_buy_health_path(current_player), class: "button" %>
      <% end%>
      <% if @challenge != nil %>
        <% if @challenge.id != nil %>
          <%= link_to "Go back", treasure_chest_challenge_revive_path(@challenge.treasure_chest, @challenge), class: "button" %>
        <% end %>
      <% end %>
    </div>
  </div>
  <% end %>

  <div class="container-fluid d-flex justify-content-around">

 <% if current_player %>
  <div class="d-flex align-items-center">
    <span style="margin-right: 7px;"><%= image_tag asset_path("Icons/life_full2.png"), class: "icon" %></span>
    <span data-health-target="health"><%= [current_player.healthpoints.to_i, 0].max %></span>
  </div>

  <div class="d-flex align-items-center">
    <span style="margin-right: 7px;"><%= image_tag asset_path("Icons/ruby.png"), class: "icon" %></span>
    <span><%= [current_player.rubies.to_i, 0].max %></span>
  </div>
  <% end  %>
  </div>
</div>
