<div class="container d-flex flex-column justify-content-center align-items-center" style="background-color: #F4EFDD; min-height: 100vh;">
  <h2 class="mb-5 p-3 animate__animated animate__pulse" style="color: #E64C3C">Treasure Keeper</h2>
  <div class="text-center my-3 d-flex flex-column align-items-center"
      data-controller="chest"
      data-chest-url-value="<%= asset_path("chest-slam.mp3") %>">
    <div class="chest-container">
      <%= image_tag asset_path("chest/chest_open.png"), id: "open-chest", data: { target: "chest.openChest" } %>
      <%= image_tag asset_path("chest/chest_closed.png"), id: "closed-chest", class: "hidden", data: { target: "chest.closedChest" } %>
    </div>
  </div>
  <div class="p-3" style="width: 300px;">
    <p class="text-center" style="color: #F29C1F;">Turn savings goals into treasure chests!</p>
    <p class="text-center" style="color: #F29C1F;">Embark on quests to keep expenses at bay!</p>
  </div>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs mt-5">
        <%= f.input :email,
                    required: false,
                    autofocus: true,
                    label: false,
                    input_html: { autocomplete: "E-mail address", placeholder: "Email" } %>
        <%= f.input :password,
                    required: false,
                    label: false,
                    input_html: { autocomplete: "Password", placeholder: "Password" } %>
        <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
      </div>

      <div class="form-actions text-center my-3">
        <%= f.button :submit, "Log in", style: "width: 110px;" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
