
<h1>Player Information</h1>


<%= cl_image_tag("#{@player.avatar_url}", title: "Treasure Keeper/life_full.png",
      width: 50, crop: :fill) %>

<p><%= @player.username %></p>
<p>Hitpoints: <%= @player.hitpoints %></p>
<p>Healthpoints: <%= @player.healthpoints %></p>
<p>Rubies: <%= @player.rubies %></p>
