<div class="container mt-5">
  <h1 class="mb-4">Player Information</h1>
  <div class="d-flex align-items-center mb-3">

    <%= image_tag(@player.avatar_url, width: 50, crop: :fill, class: "mr-3 rounded-circle") %>
    <div>
      <p><%= @player.username %></p>
      <p>Hitpoints: <%= @player.hitpoints %></p>
      <p>Healthpoints: <%= @player.healthpoints %></p>
      <p>Rubies: <%= @player.rubies %></p>
    </div>
  </div>
</div>
