
<h1>Player Information</h1>
<img src="<%= @player.avatar_url %>" alt="Player Avatar">
<img src="<%= @player.avatar_url %>" alt="Player Avatar">
<p><%= @player.username %></p>
<p>Hitpoints: <%= @player.hitpoints %></p>
<p>Healthpoints: <%= @player.healthpoints %></p>
<p>Rubies: <%= @player.rubies %></p>
