<div class="container">

  <%= simple_form_for [@treasure_chest, @challenge] do |f| %>
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.input :budget%>
    <%= f.input :end_date, as: :date %>
    <%= f.button :submit, "Create new challenge", class:"btn btn-primary" %>
  <% end %>
</div>
