<div data-controller="notifications" class="challenges-show pt-3 d-flex flex-column justify-content-center align-items-center overflow-auto">

  <div class="popup d-none" data-notifications-target="popUp">
    <span><%= image_tag "Icons/#{@monster.icon_creator}" , width: 50, crop: :fill, class: "mr-3 rounded-circle" %></span>
    <h2 data-notifications-target="h2">Outch!</h2>
    <p data-notifications-target="p">You lost the fight, now pay with your life!</p>
    <%= link_to "Ok!", treasure_chests_path, class: "button" %>
  </div>

  <div class="transparent-bg mb-2 pt-3 px-3 border d-flex flex-column align-items-center overflow-auto" style="border-radius: 10px; width: 355px;">
    <h6 class="text-break"><%= @challenge.name %></h6>
    <h6 class="text-break"><%= @challenge.description %></h6>
    <p>Status: <span style="color: #F29C1F", data-notifications-target="status"><%= @challenge.status %></span><p>
  </div>
  <div class="transparent-bg mb-2 pt-3 px-3 border d-flex flex-column justify-content-center align-items-center" style="border-radius: 10px; width: 355px;">
    <p>Your budget: <span style="color: #F29C1F">$<%= [@challenge.budget.to_i, 0].max %></span></p>
    <p>Your expenses: </p>

    <div class="overflow-auto" style="max-height: 80px;">
      <%# calculate sum of expenses %>
      <% sum = 0 %>
      <% @expenses.each do |expense| %>
        <p style="color: #F29C1F">$<%= [expense.amount.to_i, 0].max %></p>
        <% sum += expense.amount %>
      <% end %>
    </div>
    <p>Total amount: <span style="color: #F29C1F">$<%= sum %></span></p>
  </div>

  <div class="transparent-bg mb-2 pt-2 px-2 border d-flex flex-column align-items-center" style="border-radius: 10px; width: 355px;">
    <div class="d-flex">
      <div class="d-flex flex-column" style="margin-right: 100px;">
        <span><%= image_tag "Icons/#{@player.icon_creator}" , width: 50, crop: :fill, class: "mr-3 rounded-circle" %></span>
        <div class="health-bar mt-2">
          <div class="health-bar-fill" style="width: <%= [@player.healthpoints.to_i, 0].max %>%; background-color: #41C835;"></div>
        </div>
      </div>
      <div class="d-flex flex-column">
        <span><%= image_tag "Icons/#{@monster.icon_creator}" , width: 50, crop: :fill, class: "mr-3 rounded-circle" %></span>
        <div class="health-bar mt-2">
          <div class="health-bar-fill" style="width: <%= [@monster.hitpoints.to_i, 0].max %>%; background-color: #41C835;"></div>
        </div>
      </div>
    </div>
    <div>

      <p style="color: #F29C1F">Monster rage: <span style="color: #F29C1F", data-notifications-target="monsterRage"><%= [@monster_rage.to_i, 0].max %></span></p>
      <p style="color: #41C835">Your hitpoints: <%= [@player.hitpoints.to_i, 0].max %></p>
    </div>
  </div>
  <span style="margin-bottom: 5px;"><%= link_to "Enrage the monster", new_treasure_chest_challenge_expense_path(@challenge.treasure_chest, @challenge), class: "enrage-button" %></span>
  <%= link_to "Attack!", treasure_chest_challenge_attack_path(@challenge.treasure_chest, @challenge), class: "button" %>
</div>
