
<div class="challenges-show d-flex flex-column justify-content-center align-items-center">
  <div class="transparent-bg mb-2 pt-3 px-3 border d-flex flex-column align-items-center" style="border-radius: 10px; width: 355px;">
    <h3 class=""><%= @challenge.name %></h3>
    <h2><%= @challenge.description %></h2>
    <p>Status: <span style="color: #F29C1F"><%= @challenge.status %></span><p>
  </div>
  <div class="transparent-bg mb-2 pt-3 px-3 border d-flex flex-column justify-content-center align-items-center" style="border-radius: 10px; width: 355px;">
    <p>Your budget: <%= @challenge.budget %> EUR</p>
    <p>Your expenses: </p>

    <div class="overflow-auto" style="max-height: 80px;">
      <%# calculate sum of expenses %>
      <% sum = 0 %>
      <% @expenses.each do |expense| %>
        <p style="color: #F29C1F">$<%= expense.amount %></p>
        <% sum += expense.amount %>
      <% end %>
    </div>
    <p>Total amount: <span style="color: #F29C1F">$<%= sum %></span></p>
  </div>

 <%# give status, maybe color-coding %>

<%# game logic  %>
  <div class="transparent-bg mb-5 pt-2 px-2 border d-flex flex-column justify-content-center align-items-center" style="border-radius: 10px; width: 355px;">
    <p style="color: #E64C3C">Monster rage: <%= @monster_rage %> %</p>
    <p style="color: #41C835">Your healthpoints: <%= @player.healthpoints.to_i %></p>
  </div>

<%= link_to "Enrage the monster", new_treasure_chest_challenge_expense_path(@challenge.treasure_chest, @challenge)  %>

  <div class="d-flex flex-column justify-content-center align-items-center mt-5">
  </div>
</div>
