<div class="container">
  <h3><%= @challenge.name %></h3>
  <h2><%= @challenge.description %></h2>
  <h2>Your budget: <%= @challenge.budget %> EUR</h2>
  <h2>Your expenses: </h2>
    <%# calculate sum of expenses %>
    <% sum = 0 %>
    <ul><% @expenses.each do |expense| %>
      <li><%= expense.amount %></li>
      <% sum += expense.amount %>
    <% end %></ul>
  <h2>Total amount: <%= sum %> EUR</h2>
 <%# give status, maybe color-coding %>
  <h3>status: <%= @challenge.status %><h3>
<%# game logic  %>
  <h2>Monster rage: <%= @monster_rage %> %</h2>
  <h2>Your healthpoints: <%= @player.healthpoints.to_i %></h2>
  <p><%= link_to "attack", challenge_attack_path(@challenge), class: "btn btn-danger" %></p>
  <p><%= link_to "add an expense", new_challenge_expense_path(@challenge), class: "btn btn-primary " %></p>
</div>
