<div>
  <h3><%= @challenge.name %></h3>
  <h2><%= @challenge.description %></h2>
  <h2><%= @challenge.budget %></h2>
  <h2>Your expanses: </h2>
    <%# calculate sum of expenses %>
    <% sum = 0 %>
    <ul><% @expenses.each do |expense| %>
       <li><%= expense.amount %></li>
       <% sum += expense.amount %>
    <% end %></ul>
  <h2>Total amount: <%= sum %> EUR</h2>
  <h2>Monster health: <%= @monster.healthpoints.to_i %></h2>
  <h2>Monster health: <%= ((sum / @challenge.budget) * 100 ).to_i%> %</h2>
  <p><%= link_to "attack", challenge_attack_path(@challenge), class: "btn btn-primary" %></p>
  <p><%= link_to "add an expense", new_challenge_expense_path(@challenge), class: "btn btn-danger" %></p>
</div>
