<div data-controller="notifications" class="challenges-show pt-3 d-flex flex-column justify-content-center align-items-center overflow-auto">
  <div class="popup d-none" data-notifications-target="popUp">
    <span><%= image_tag "Icons/#{@monster.icon_creator}" , width: 50, crop: :fill, class: "mr-3 rounded-circle" %></span>
    <h2 data-notifications-target="h2">Ouch!</h2>
    <p data-notifications-target="p">You loose the fight, now pay with your life!</p>
    <%= link_to "Yield!", treasure_chests_path, class: "button" %>
  </div>

  <div class="transparent-bg mb-2 pt-3 px-3 border d-flex flex-column align-items-center overflow-auto" style="border-radius: 10px; width: 355px;">
    <h6 class="text-break" style="font-size: 15px;"><span style="color: #F29C1F"><%= @challenge.name %></span></h6>
    <span style="color: #F29C1F", data-notifications-target="status"><%= @challenge.status %></span>
    <h6 class="text-break" style="font-size: 15px;"><%= (@challenge.end_date - Date.today).to_i %> days left!</h6>
  </div>
  <div class="transparent-bg mb-2 pt-3 px-3 border d-flex flex-column justify-content-center align-items-center" style="border-radius: 10p-->x; width: 355px;">
    <p>Budget: <span style="color: #F29C1F">$<%= [@challenge.budget.to_i, 0].max %></span></p>
    <p>Expenses: </p>

    <div class="overflow-auto" style="max-height: 80px;">
      <%# calculate sum of expenses %>
      <% sum = 0 %>
      <% @expenses.each do |expense| %>
        <div class="d-flex">
          <p style="color: #F29C1F; margin-right: 10px;">$<%= [expense.amount.to_i, 0].max  %></p>
          <p style="color: #F29C1F;"><%= expense.expense_date.strftime("%b %d") %></p>
        </div>

        <% sum += expense.amount %>
      <% end %>
    </div>
    <p class="mb-2">Total: <span style="color: #F29C1F">$<%= sum %></span></p>
  </div>

  <div class="transparent-bg mb-2 pt-2 px-2 border d-flex flex-column align-items-center" style="border-radius: 10px; width: 355px;">
    <div class="d-flex">
      <div class="d-flex flex-column" style="margin-right: 100px;">
        <span><%= image_tag "Icons/#{@player.icon_creator}" , width: 50, crop: :fill, class: "mr-3 rounded-circle" %></span>
        <div class="health-bar mt-2">
          <div class="health-bar-fill" style="width: <%= [@player.healthpoints.to_i, 0].max %>%;"></div>
        </div>

      </div>
      <div class="d-flex flex-column">
        <span><%= image_tag "Icons/#{@monster.icon_creator}" , width: 50, crop: :fill, class: "mr-3 rounded-circle" %></span>
      <div class="health-bar mt-2">
        <div class="health-bar-fill" style="width: <%= [@monster.hitpoints.to_i, 0].max %>%;"></div>
      </div>
      </div>
    </div>
    <div>
      <p style="color: #F29C1F">Monster rage: <span style="color: #F29C1F", data-notifications-target="monsterRage"><%= [@monster_rage.to_i, 0].max %></span></p>
      <p class="mb-2" style="color: #41C835">Your hitpoints: <%= [@player.hitpoints.to_i, 0].max %></p>
    </div>
  </div>
  <div class="d-flex flex-column align-items-center mt-2" data-controller="challenges" data-challenges-url-value="<%= asset_path("enrage.mp3") %>" data-challenges-url2-value="<%= asset_path("attack.mp3") %>">
    <span style="margin-bottom: 5px;">
      <%= link_to "Enrage the monster", new_treasure_chest_challenge_expense_path(@challenge.treasure_chest, @challenge),
      class: "enrage-button", data: { target: "challenges.enrage", action: "click->challenges#attack" } %>
    </span>
    <span>
      <%= link_to "Attack!", treasure_chest_challenge_attack_path(@challenge.treasure_chest, @challenge),
      class: "button", data: { target: "challenges.attack", action: "click->challenges#attack" } %>
    </span>
  </div>
</div>
