<div class="expenses-new d-flex flex-column justify-content-center align-items-center" data-controller="slider">

  <span style="color: #F29C1F; font-size: 26px;"><%= @challenge.name.upcase %></span>
  <span style="color: #F29C1F; font-size: 26px;"><%= "Monster" %></span>
  <%= image_tag "Icons/#{@monster.icon_creator}", width: 50, crop: :fill, class: "mr-3 rounded-circle" %>
  <h5>~Add an expense~</h5>
  <br>
  <%# <p style="color: #E64C3C">Warning:</p>
  <p class="text-center">The monsters may grow!</p> %>
  <%= simple_form_for [@challenge.treasure_chest, @challenge, @expense] do |f| %>
    <%='How much did you spend?' %>
    <p>$ <span data-slider-target="amount">0</span></p>
    <%= f.input :amount, as: :range, selected: 0, label: false, input_html: {value: 0, data: { action: "input->slider#updateAmount"}}, placeholder: "amount" %>
      <%= f.input :expense_date,
        label: "When did you spend it?",
        as: :string,
        input_html: {
        data: {
        controller: "datepicker" },
        # placeholder: "When did you spend it?",
        enableTime: true,
        dateFormat: "Y-m-d H:i",
        endDate: "today"
        } %>
      <div class="text-center"><%= f.button :submit, 'Enrage!' %></div>
    </div>
  <% end %>
</div>
