<!DOCTYPE html>
<html>
  <head>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <title>Treasure Keeper - Keep track of your savings in a fun way!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:image" content="http://www.treasurekeeper.online/assets/chest/chest_open-bc61bf4715fec5906559584c22eb74dd641be6233efbdb2b0293235dc8755f75.png" />
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
  </head>

  <body>
    <div class="page-container">
      <% unless controller.devise_controller?  || (controller_name == 'players' && action_name == 'new') %>
        <div class="status_bar-container"><%= render "shared/status_bar" %></div>
      <% end %>
        <div class="content-container">
          <%= yield %>
        </div>
        <% unless controller.devise_controller? || (controller_name == 'players' && action_name == 'new') %>
          <div class="navbar-container"><%= render "shared/navbar" %></div>
      <% end %>
    </div>
  </body>
</html>
