<!DOCTYPE html>
<html>
  <head>
    <title>TreasureKeeper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
  </head>

  <body>
    <div class="page-container">
      <% unless controller.devise_controller? %>
        <div class="status_bar-container"><%= render "shared/status_bar" %></div>
      <% end %>
        <div class="content-container">
          <%= yield %>
        </div>
        <% unless controller.devise_controller? %>
          <div class="navbar-container"><%= render "shared/navbar" %></div>
      <% end %>
    </div>
  </body>
</html>
