<!DOCTYPE html>
<html>
  <head>
    <title>TreasureKeeper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <%# background colour set to contrast the app view. Adjust if needed %>
  <body style="background-color: #393E46">
    <%#TODO: move render shared/navbar only to the maps page and get rid of render "shared/flashes" %>
      <%= render "shared/navbar" %>
    <%# Defaut centering for all pages and forms. Adjust as required %>
    <div class="col-xs d-flex justify-content-center align-items-center">
      <div class="card text-center my-5" style="background-color: #F4EFDD; border-radius: 10px;">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
